.bg-light {
    background-color: #f9f0c9!important;
}
.header-slider{
    background-color: #FCEAE8;
}
.bg-sunflower{
    background-color: #FFC312;
}
.bg-energos{
    background-color: #C4E538;
}
.bg-veryberry{
    background-color: #B53471;
}